%div
  %div{:class => "subscription"}
    %p{:class=> "txt6", :align => "center"}BECOME A MEMBER TODAY!!!
    %p
      %span{:class=> "txtname"}Testimonials
    %p
      %span{:class=>"txt1"}"Easily worth the membership money....Not to mention the daily updates  are priceless and you can look ahead to what is coming next" %strong Matt W.
    %p
      %span{:class=> "txt1"}""I honestly joined this site because it has the largest amount of the  most amateur games I have ever seen in to date, you won't be disappointed." %strong Ryan C.
    %p
      %span{:class=> "txt1"}""I just wanted to write to let you know how much I enjoy your site. When I've got the apartment to myself for a night, I know that so long as I have your site, there will never be a boring moment"
      %strong Will D.
    %p
      %span{ :class=> "txt1"}""Believe it or not, it was actually an ex girlfriend that introduced me to this site. She told me that she didn't mind me looking at these type of sites as long as we can watch and play these games together."
      %strong Richard J.
    %p
      %span{:class=>"txt1"} "I F*cking love this site"
      %strong Dan H.
  %div{:style => "float:left;width:550px;"}
    %p{:align => "center", :class=>"txtsec"}
      100% Safe, Secure and Discreet Transaction
      %br
      %span{:class => "txt1"} Your Credit Card Will Say From: CCbill.com
    %p
      = link_to image_tag("/images/1.gif", :style => "padding:5px;"), "#"
    %p
      = link_to image_tag("/images/2.gif", :style => "padding:5px;"), "#"
    %p
      = link_to image_tag("/images/3.gif", :style => "padding:5px;"), "#"

